li.collection-item id="material_#{material.id}"
  = material.title + ', ' + material.unit
  => delete_item_link(admin_material_path(material), 'secondary-content')
  => edit_item_link(edit_admin_material_path(material), 'secondary-content')
