= simple_form_for [:admin, @product_group], html: { class: 'form-inline' }, remote: true do |f|
  => f.input :name, label: false, placeholder: t('product_group.name')
  => f.submit t('form.save'), class: 'btn btn-success'
