li.collection-item id="product_group_#{product_group.id}"
  = product_group.name
  => delete_item_link(admin_product_group_path(product_group), 'secondary-content')
  => edit_item_link(edit_admin_product_group_path(product_group), 'secondary-content')
