= simple_form_for [:admin, @color], html: { class: 'form-inline' }, remote: true do |f|
  => f.input :name, label: t('color.name')
  => f.input :color, as: :minicolors, input_html: { data: { minicolors: {theme: :bootstrap}}}, label: t('color.color')
  => f.submit t('form.save'), class: 'btn btn-success'
