@import 'jquery-ui';
@import 'jquery.minicolors';
@import 'lazybox';
@import "materialize";

.translation_missing {
  background-color: black;
  color: white;
}

body {
  background: url('/bg.jpg');
}

// login form
.login {
  width: 400px;
  margin: 0 auto;
}

// separator between items in list
.bottom-line { border-bottom: 1px solid #D3D3D3; }

.logo { margin-left: 25px; }

.form-padding { padding: 20px; }

.list_item {
  border: 1px solid #D3D3D3;
}

.list_item_link span {
  display: block;
  span.info {
    width: 200px;
  }
}

span.order_number {
  display: inline-block;
  width: 80px;
}

span.date {
  display: inline-block;
  width: 100px;
}
