@import "jquery.minicolors";
@import "jquery-ui";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "lazybox";

body {
  background: url('/bg.jpg');
}

.line {
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #D3D3D3;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.minicolors {
  display: inline-block;
}

.btn-big {
  width: 400px;
  height: 50px;
  margin: 10px;
  padding: auto 0;
}

.pd {
  margin-bottom: 10px;
}

.my {
  width: 100%;
  height: 100%;
  font-size: large;
}

.info {
  font-size: large;
  font-weight: bold;
  padding: 5px;
  margin-top: 10px;
}

.name {
  font-size: large;
  text-align: right;
  padding-top: 5px;
}

.flex {
  display: flex;
}

.show-color {
  border: 1px solid #D3D3D3;
  border-radius: 10px;
}

.name-middle {
  font-size: 1.4em;
}

.simple_form {
  .control-label {
    margin: 0 5px 0 15px;
  }
}

.footer {
  height: 50px;
}
